:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);
  --Scissors-Gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --Paper-Gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --Rock-Gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --Cyan: hsl(189, 59%, 53%) hsl(189, 58%, 57%);
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  width: 100%;
  max-width: 1366px;
  margin: 2rem auto;
  overflow: hidden;
}

header {
  border: 2px solid var(--Header-Outline);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem !important;
  width: 700px;
  height: 150px;
  margin: 0 auto;
}
header h1 {
  color: white;
  line-height: 1.1;
  font-size: 2rem;
}

.score {
  background-color: white;
  color: var(--Score-Text);
  height: 90%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0.3rem 2.2rem;
}
.score > span {
  color: var(--Dark-Text);
  font-size: 3rem;
  font-weight: 700;
}
